<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.souko.mapper.RecordMapper">
    <select id="selectRecordsWithUser" resultType="com.souko.dto.RecordResult">
        SELECT r.*,
               u1.name AS `username`,
               u2.name AS `adminName`
        FROM tb_record r
        LEFT JOIN tb_user u1 ON r.userId = u1.id
        LEFT JOIN tb_user u2 ON r.admin_id = u2.id
        ORDER BY r.createtime DESC
    </select>
    <select id="pageCC" resultType="com.souko.dto.RecordResult">
        SELECT r.*,
        g.name AS goodsName,
        gt.name AS goodstypeName,
        s.name AS storeName,
        u1.name as  userName,
        u2.name as adminName
        FROM tb_record r
        LEFT JOIN tb_goods g ON r.goods = g.id
        LEFT JOIN tb_goodstype gt ON gt.id = g.goods_type
        LEFT JOIN tb_store s ON s.id = g.store
        left join tb_user u1 on u1.id = r.userId
        left join tb_user u2 on u2.id = r.admin_id

        <where>
            <if test="name != null and name != ''">
                AND g.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="goodstype != null and goodstype != ''">
                AND gt.id = #{goodstype}
            </if>
            <if test="store != null and store != ''">
                AND s.id = #{store}
            </if>
            <if test="roleId==2">
                AND r.userId = #{userId}
            </if>
        </where>
    </select>
</mapper>